<div class="container">
    <form (ngSubmit)="insertData()">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name"[(ngModel)]="employee.name">
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="text" class="form-control" name="age"[(ngModel)]="employee.age">
    </div>
    <div class="form-group">
        <label>Salary</label>
        <input type="text" class="form-control" name="salary"[(ngModel)]="employee.salary">
    </div>
    <div class="form-group">
        <button mat-raised-button color="primary">Insert</button>
    </div>
    </form>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Salary</th>
            <th>Action</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of dataArr">
            <td>{{obj.name}}</td>
            <td>{{obj.age}}</td>
            <td>{{obj.salary}}</td>
            <td><button class="btn btn-danger" (click)="deleteData(obj.id)">Delete</button>
                <button class="btn btn-primary mx-2" routerLink="edit/{{obj.id}}">Edit</button></td>
          </tr>
        </tbody>
      </table>
</div>
